#navigation { 
    position: relative;
}

div#menuxContainer  div { 
    display: none;
}

div#menuxContainer div {
    height: 250px;
    width: 550px;
    background-color: #ffffff;
    border: 1px solid #000000;
    position: absolute;
    z-index: 10000000939393939393;
    top: 30px;
    left: 60px;
    padding: 5px 2px;
}



