#navigation { 
    position: relative;
}

div#menuxContainer  div { 
    display: none;
}

div#menuxContainer div {
    height: 150px;
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #000000;
    position: absolute;
    z-index: 1000;
    top: 60px;
    padding: 5px 2px;
}