.loginx_error {
    background:#fccac3 url('../images/error.png') no-repeat 10px 10px;
    border: 1px solid #ea5338;
    width: 80%;
    padding:17px 17px 17px 55px;
    margin-bottom:15px;

}

.loginx_success {
    background:#effeb9 url('../images/success.png') no-repeat 10px 10px;
    border: 1px solid #98c700;
    width: 80%;
    padding:17px 17px 17px 55px;
    margin-bottom:15px;
    border-radius: 5px;
    -moz-border-radius: 5px;

}

.loginx_profile { 
    position: relative;
}

.loginx_profile #loginx_profile_avatar { 
    text-align: center;
    width: 20%;
    float: left;
}

.loginx_profile #loginx_profile_info {
    float: right;
    width: 80%;
}

.loginx_profile #loginx_profile_info h2 {
    margin-top: 0;
    padding: 0;
}

.loginx_profile #loginx_profile_links {
    width: 100%;
    text-align: center;
}

#loginx_password em { 
    color: #ff0000;
}